/* General Post Container Styling */
.post-container {
    margin-top: 15px;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #ccc;
    border-radius: 10px;
    max-width: 800px;
}

/* Post Details Styling */
.post-details {
    text-align: center;
    margin-bottom: 20px;
}

.post-title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

.post-content {
    font-size: 1.2rem;
    color: #ccc;
    margin-bottom: 20px;
}

.post-image {
    max-width: 100%;
    border-radius: 10px;
}

/* Button Container Styling */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.likes-count {
    font-size: 1.2rem;
    color: #ccc;
    margin-right: 10px;
}

.button {
    padding: 10px 20px;
    background-color: #0058cc;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #0046a1;
    transform: translateY(-2px);
}

/* Comments Section Styling */
.interaction-section {
    background-color: #333333c2; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #ccc; 
}

.comments-title {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.comments-list {
    margin-bottom: 20px;
}

.comment-item {
    background-color: #242424;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 1rem;
    border: 1px solid #ccc; 
}

/* Add Comment Form Styling */
.add-comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
    resize: none;
}

.comment-input::placeholder {
    color: #aaa;
}

.comment-input:focus {
    outline: none;
    border-color: #0058cc;
    box-shadow: 0 0 5px #0058cc;
}

.add-comment-form .button {
    align-self: flex-start;
}