/* General Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333c2;
    padding: 10px 20px;
    border-radius: 10px;
    color: #ccc;
}

/* Logo Styling */
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Links Container */
.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

/* Individual Link Styling */
.navbar-link {
    text-decoration: none;
    color: #006eff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    margin: 10px;
}

/* Hover Effect for Links */
.navbar-link:hover {
    color: #0055c5;
}

.navbar-logo {
    width: 50px;
}